// Primary and warm grey color are from https://strategiccommunications.ua.edu/standards/web
$primary-color: #990000;
$highlight: #E51717;
$secondary-color: #4C0000;
$accent: #004C16;
$accent-highlight: #00992B;

$warm-grey: #cccccc;

$dark-background: #212529;

$github: #555;
$github-hover: #333;