@import 'colors';

.icon-white {
    font-size: 3em;
    color: white;
    vertical-align: middle;
    padding-right: 0.25em;
}

.githubLink {
    color: $github;
    text-decoration:none !important;
}

.githubLink:hover{
    color: $github-hover;
}