@import 'colors';
@import 'research';

body {
    padding-top: 2.5em;
}

.icon-white {
    font-size: 2em;
    color: white;
    vertical-align: middle;
    padding-right: 0.25em;
}

.githubLink {
    color: $github;
    text-decoration:none !important;
}

.githubLink:hover{
    color: $github-hover;
}

section {
    border-bottom: 1px solid #eaebed;
}

.headshot {
    max-width: 100%;
    height: auto !important;
}

#header {
    background-color: #EAEAEA;
    background-image: url('../img/background-lighter.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #212529;
}

.headerText {
    margin: 4.7em 0;
    padding: 3.125em 0;
}

.headerText h1 {
    font-size: 3.25em;
}

#contact a {
    margin-bottom: 0.5em;
}

.researchImage {
    max-width: 100%;
    height: auto;
}

.researchRow {
    margin-bottom: 3em;
}

#research h1 {
    text-align: center;
    margin-bottom: 1.5em;
}
