section#contact
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase Contact Us
        .row
          .col-lg-6
            a.btn.btn-primary(href="tel:+1-205-348-6363")
              span.fa.fa-phone.icon-white
              span (205) 348-6363
          .col-lg-6
            a.btn.btn-primary(href="mailto:htil.cs.ua@gmail.com")
              i.fa.fa-envelope.icon-white
              span.text-uppercase htil.cs.ua@gmail.com