footer
  .container
    .row
      .col-md-12
        ul.list-inline(style='margin-bottom:0;')
          li.list-inline-item
            span.copyright Copyright &copy; UA HTIL 2018
          li.list-inline-item
            span.copyright Last Updated: #{date}
          li.list-inline-item
            a(href='http://www.ua.edu') University of Alabama
          li.list-inline-item
            a(href='http://www.ua.edu/disclaimer.html') University of Alabama Disclaimer
