footer
  .container
    .row
      .col-md-4
        span.copyright Copyright &copy; What's our legal name? 2018
      .col-md-4
        ul.list-inline.social-buttons
          li.list-inline-item
            a(href='#')
              i.fa.fa-twitter
          li.list-inline-item
            a(href='#')
              i.fa.fa-facebook
          li.list-inline-item
            a(href='#')
              i.fa.fa-linkedin
      .col-md-4
        ul.list-inline.quicklinks
          li.list-inline-item Maybe something here?
