header.masthead
  .container
    .intro-text
      .intro-lead-in University of Alabama
      .intro-heading.text-uppercase Human Technology Interaction Lab
      a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More