section#publications
  .container
    .row
      .col-lg-12
        h2.section-heading.text-uppercase.text-center(style="margin-bottom:1.25em") Publications
        div(style="padding: 0 3em;")
          each publication in publications
            p!= publication.citation