section#research
  .container
    h1 RESEARCH
    each interest, index in research
      .row.researchRow(class=(index % 2 == 1) ? 'flex-row-reverse' : '')
        .col-md-8
          img.researchImage(src=interest.img)
        .col-md-4
          h2= interest.title
          p= interest.description
