section#research
  .container
    h1 RESEARCH
    .row
      each interest, index in research
        .col-lg-3.col-md-4.mb-4
          .card
            img.card-img(src=interest.img, alt=interest.title)
            .card-body.d-flex.flex-column
              h5=interest.titleShort
              p=interest.descriptionShort
              .mt-auto
                a(href='#') Read more
                //- TODO: Bootstrap modal or something that contains long title and long description
