section#research
  .container
    each interest, index in research
      .row.researchRow
        if index % 2 == 0
          .col-lg-4
            img.researchImage(src=interest.img)
        .col-lg-8
          h2= interest.title
          p= interest.description
        if index % 2 == 1
          .col-lg-4
            img.researchImage(src=interest.img)
            